In [35]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 

from sklearn.model_selection import train_test_split,GridSearchCV, RandomizedSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

import pickle
import json

In [36]:
df=pd.read_csv("Car_Details.csv")
df.tail(1)

,Make,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_Highway,Weight,Wheelbase,Length,Millage_City
427,Volvo,Wagon,Europe,All,35145,33112,2.5,5.0,208,27,3823,109,186,20

In [37]:
#To Predict the car Millage using below mentioned features

In [38]:
df.columns

Index(['Make', 'Type', 'Origin', 'DriveTrain', 'MSRP', 'Invoice', 'EngineSize',
       'Cylinders', 'Horsepower', 'MPG_Highway', 'Weight', 'Wheelbase',
       'Length', 'Millage_City'],
      dtype='object')

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 428 entries, 0 to 427
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Make          428 non-null    object
 1   Type          428 non-null    object
 2   Origin        428 non-null    object
 3   DriveTrain    428 non-null    object
 4   MSRP          428 non-null    int64
 5   Invoice       428 non-null    int64
 6   EngineSize    428 non-null    float64
 7   Cylinders     426 non-null    float64
 8   Horsepower    428 non-null    int64
 9   MPG_Highway   428 non-null    int64
 10  Weight        428 non-null    int64
 11  Wheelbase     428 non-null    int64
 12  Length        428 non-null    int64
 13  Millage_City  428 non-null    int64
dtypes: float64(2), int64(8), object(4)
memory usage: 46.9+ KB

In [40]:
df['Make'].dtype

dtype('O')

In [41]:
df['Make'].unique()

array(['Acura', 'Audi', 'BMW', 'Buick', 'Cadillac', 'Chevrolet',
       'Chrysler', 'Dodge', 'Ford', 'GMC', 'Honda', 'Hummer', 'Hyundai',
       'Infiniti', 'Isuzu', 'Jaguar', 'Jeep', 'Kia', 'Land Rover',
       'Lexus', 'Lincoln', 'MINI', 'Mazda', 'Mercedes-Benz', 'Mercury',
       'Mitsubishi', 'Nissan', 'Oldsmobile', 'Pontiac', 'Porsche', 'Saab',
       'Saturn', 'Scion', 'Subaru', 'Suzuki', 'Toyota', 'Volkswagen',
       'Volvo'], dtype=object)

In [42]:
df = pd.get_dummies(df,columns=['Make'])

In [43]:
df

,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_Highway,Weight,...,Make_Pontiac,Make_Porsche,Make_Saab,Make_Saturn,Make_Scion,Make_Subaru,Make_Suzuki,Make_Toyota,Make_Volkswagen,Make_Volvo
0,SUV,Asia,All,36945,33337,3.5,6.0,265,23,4451,...,0,0,0,0,0,0,0,0,0,0
1,Sedan,Asia,Front,23820,21761,2.0,4.0,200,31,2778,...,0,0,0,0,0,0,0,0,0,0
2,Sedan,Asia,Front,26990,24647,2.4,4.0,200,29,3230,...,0,0,0,0,0,0,0,0,0,0
3,Sedan,Asia,Front,33195,30299,3.2,6.0,270,28,3575,...,0,0,0,0,0,0,0,0,0,0
4,Sedan,Asia,Front,43755,39014,3.5,6.0,225,24,3880,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Sedan,Europe,Front,40565,38203,2.4,5.0,197,28,3450,...,0,0,0,0,0,0,0,0,0,1
424,Sedan,Europe,Front,42565,40083,2.3,5.0,242,26,3450,...,0,0,0,0,0,0,0,0,0,1
425,Sedan,Europe,Front,45210,42573,2.9,6.0,268,26,3653,...,0,0,0,0,0,0,0,0,0,1
426,Wagon,Europe,Front,26135,24641,1.9,4.0,170,29,2822,...,0,0,0,0,0,0,0,0,0,1
427,Wagon,Europe,All,35145,33112,2.5,5.0,208,27,3823,...,0,0,0,0,0,0,0,0,0,1

In [44]:
df["Type"].unique()

array(['SUV', 'Sedan', 'Sports', 'Wagon', 'Truck', 'Hybrid'], dtype=object)

In [45]:
df['Type'].replace({'SUV': 1,
 'Sedan': 2,
 'Sports': 3,
 'Wagon': 4,
 'Truck': 5,
 'Hybrid': 6}, inplace=True)

In [46]:
df["Origin"].unique()

array(['Asia', 'Europe', 'USA'], dtype=object)

In [47]:
df['Origin'].replace({'Asia': 1,
 'Europe': 2,
 'USA': 3}, inplace=True)

In [48]:
df["DriveTrain"].unique()

array(['All', 'Front', 'Rear'], dtype=object)

In [49]:
df['DriveTrain'].replace({'All': 1,
 'Front': 2,
 'Rear': 3}, inplace=True)

In [50]:
df["Cylinders"]=df["Cylinders"].fillna(df["Cylinders"].median())

In [51]:
df.corr().tail(1)

,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_Highway,Weight,...,Make_Pontiac,Make_Porsche,Make_Saab,Make_Saturn,Make_Scion,Make_Subaru,Make_Suzuki,Make_Toyota,Make_Volkswagen,Make_Volvo
Make_Volvo,-0.010043,0.005173,-0.11362,0.030971,0.040495,-0.113258,-0.079296,0.017629,-0.005236,0.003259,...,-0.027585,-0.0219,-0.0219,-0.02344,-0.011637,-0.027585,-0.02344,-0.044936,-0.032368,1.0

In [52]:
x = df.drop(['Millage_City'], axis=1)
y = df['Millage_City']

x_train,x_test, y_train, y_test = train_test_split(x,y, test_size=0.25, random_state=5)

In [53]:
x_train.shape,y_train.shape, x_test.shape, y_test.shape

((321, 50), (321,), (107, 50), (107,))

In [54]:
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [55]:
## Training data model Evalaution 

y_pred = model.predict(x_train)

mse = mean_squared_error(y_train,y_pred)
print(f"MSE = {mse}")
print(f"RMSE = {np.sqrt(mse)}")

mae = mean_absolute_error(y_train,y_pred)
print(f"MAE = {mae}")

r2 = r2_score(y_train,y_pred)
print(f"R-Squared Value = {r2}")
n = x.shape[0]
p = x.shape[1]
adj_r2 = 1 - (((1-r2)* (n-1)) / (n-p-1))
print(f"ADJUSTED R - SQUARED VALUE = {adj_r2}")

MSE = 1.8586854620880742
RMSE = 1.3633361515371307
MAE = 0.9364875273708769
R-Squared Value = 0.937258871352723
ADJUSTED R - SQUARED VALUE = 0.9289377667575934

In [56]:
## Testing data model Evalaution 

y_pred = model.predict(x_test)

mse = mean_squared_error(y_test,y_pred)
print(f"MSE = {mse}")
print(f"RMSE = {np.sqrt(mse)}")

mae = mean_absolute_error(y_test,y_pred)
print(f"MAE = {mae}")

r2 = r2_score(y_test,y_pred)
print(f"R-Squared Value = {r2}")

n = x.shape[0]
p = x.shape[1]
adj_r2 = 1 - (((1-r2)* (n-1)) / (n-p-1))
print(f"ADJUSTED R - SQUARED VALUE = {adj_r2}")

MSE = 1.450176321053178
RMSE = 1.2042326689860137
MAE = 0.9478506529358208
R-Squared Value = 0.927775690572825
ADJUSTED R - SQUARED VALUE = 0.9181968696938894

## Bias and variance Trade off 

Bias >> low Bias 
Variance >> low variance 

Generelaised / best model

In [57]:
model

LinearRegression()

In [58]:
with open('car_model.pkl','wb') as file: 
    pickle.dump(model,file)

In [59]:
data = x.tail(1)
data

,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_Highway,Weight,...,Make_Pontiac,Make_Porsche,Make_Saab,Make_Saturn,Make_Scion,Make_Subaru,Make_Suzuki,Make_Toyota,Make_Volkswagen,Make_Volvo
427,4,2,1,35145,33112,2.5,5.0,208,27,3823,...,0,0,0,0,0,0,0,0,0,1

In [60]:
# 'Make','Type', 'Origin', 'DriveTrain', 'MSRP', 'Invoice', 'EngineSize','Cylinders','Horsepower',
# 'MPG_Highway', 'Weight', 'Wheelbase','Length', 'Millage_City'

# data = [[]]

# millage = model.predict(data)
# print(millage)

In [61]:
result = model.predict(data)
result

array([20.94836529])

In [62]:
len(x.columns)

50

In [63]:
columns = {"Column Names":x.columns.tolist()}

with open('columns_names.json','w') as file: 
    json.dump(columns,file)

In [64]:
encoded_data = {
    "Type":{'SUV': 1,
 'Sedan': 2,
 'Sports': 3,
 'Wagon': 4,
 'Truck': 5,
 'Hybrid': 6},
    "Origin":{'Asia': 1,
 'Europe': 2,
 'USA': 3},
    "DriveTrain":{'All': 1,
 'Front': 2,
 'Rear': 3},
}

In [65]:
with open('encoded_data.json','w') as file: 
    json.dump(encoded_data,file)

In [66]:
index = np.where(x.columns == 'Make_Volvo')[0][0]
index

49

In [67]:
data['Make_Volvo']

427    1
Name: Make_Volvo, dtype: uint8

In [68]:
pd.options.display.max_columns = 50

In [69]:
df.tail(1)

,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_Highway,Weight,Wheelbase,Length,Millage_City,Make_Acura,Make_Audi,Make_BMW,Make_Buick,Make_Cadillac,Make_Chevrolet,Make_Chrysler,Make_Dodge,Make_Ford,Make_GMC,Make_Honda,Make_Hummer,...,Make_Infiniti,Make_Isuzu,Make_Jaguar,Make_Jeep,Make_Kia,Make_Land Rover,Make_Lexus,Make_Lincoln,Make_MINI,Make_Mazda,Make_Mercedes-Benz,Make_Mercury,Make_Mitsubishi,Make_Nissan,Make_Oldsmobile,Make_Pontiac,Make_Porsche,Make_Saab,Make_Saturn,Make_Scion,Make_Subaru,Make_Suzuki,Make_Toyota,Make_Volkswagen,Make_Volvo
427,4,2,1,35145,33112,2.5,5.0,208,27,3823,109,186,20,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [70]:
data

,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_Highway,Weight,Wheelbase,Length,Make_Acura,Make_Audi,Make_BMW,Make_Buick,Make_Cadillac,Make_Chevrolet,Make_Chrysler,Make_Dodge,Make_Ford,Make_GMC,Make_Honda,Make_Hummer,Make_Hyundai,Make_Infiniti,Make_Isuzu,Make_Jaguar,Make_Jeep,Make_Kia,Make_Land Rover,Make_Lexus,Make_Lincoln,Make_MINI,Make_Mazda,Make_Mercedes-Benz,Make_Mercury,Make_Mitsubishi,Make_Nissan,Make_Oldsmobile,Make_Pontiac,Make_Porsche,Make_Saab,Make_Saturn,Make_Scion,Make_Subaru,Make_Suzuki,Make_Toyota,Make_Volkswagen,Make_Volvo
427,4,2,1,35145,33112,2.5,5.0,208,27,3823,109,186,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1